#post_a_link, #ask_a_question {
	float:left;
}

#top_level {
	list-style-type: none;
}

#top_level li {
	float:left;
	margin-left: 5px;
	height: 29px;
}

#top_level li a {
	color: #070936;
	padding: 3px;
	margin: 2px;
}

#top_level li:hover {
	background-color: #995C96;
}

#top_level li a:hover {
	background-color: #565099;
}

#write {
	font-size: 2em;
	color: #EDF420;
}

.capsule {
	margin: 1px;
	margin-color: black;
}

.rail {
	font-size: 1.1em;
}

a.railser {
	font-size: .8em;
	color: #650114;
}

a.improvement {
	font-size: .8em;
	color: #5E8A99;
}

.login {
	float:right;
}

.login a {
	padding: 8px;
}

#schpeal, #schpeal p {
	background-color: #992D32;
	padding: 10px;
}

#schpeal p{
	font-size: 2.2em;
}

#positive {
	color: #D4D235;
}

#negative {
	color: #3E3599;
	font-weight: bold;
}

#theory {
	color: #394;
}

#strategy {
	color: #239995;
}

#thanks {
	color: #FDFDFD;
}

#recognition {
	color: #070499;
}

.clearfix {
	clear:both;
}